:root {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

@mixin standard-font-size {
  font-size: 1.20rem;
}

p {
  @include standard-font-size();
}

li {
  @include standard-font-size();

  a {
    @include standard-font-size();
  }

}