:root {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.wrapper {
  align-items: center;
  max-width: 1280px;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.dark {
  background-color: #141414;
}

@mixin standard-font-size {
  font-size: 1.20rem;
}

h1, h2, h3, h4, h5 {
  color: #050315;
}

p {
  @include standard-font-size();
  color: rgba(5, 3, 21, 0.8);

  strong {
    opacity: 1;
  }
}

strong {
  transition: ease-in-out .2s;
}

img {
  transition: ease-in-out .3s
}

li {
  @include standard-font-size();
  transition: ease-in-out .3s;

  a {
    @include standard-font-size();
  }

}

body::-webkit-scrollbar {
  width: .7em
}

 
body::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 25px;
}