@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .w-desktop {
        max-width: 1280px;
    }

    .subheading {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem;
        color: #050315;
    }

    .title {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem;
        color: #050315;
        font-weight: 600;
    }

    .standard-font-size {
        font-size: 1.20rem;
    }

    @mixin accent {
        background-color: #698cff
    }

    .accent {
        @include accent();
    }

    .bg-accent {
        @include accent();
    }

    .primary {
        color: #0050ff
    }

    .bg-primary {
        background-color: #0050ff;
    }

    .text-primary {
        color: #050315;
    }

    .bg-third {
        background-color: #050315;
    }

    .secondary {
        color: #eeedff;
    }

    .bg-secondary {
        background-color: #eeedff;
    }

    .shadow-card {
        box-shadow: rgba(14, 30, 37, 0.048) 0px 2px 4px 0px, rgba(14, 30, 37, 0.178) 0px 2px 16px 0px;
    }

    .text-light {
     color: white;
    }
}